@media only screen and (max-width:768px) {
    .stack-item-2 {
        margin-top:30px
    }
}
@media only screen and (max-width:1200px) {
    .secondSec .circle {
        display:none;
    }
    .side-wheel {
        display:none;
    } 
}